@use "./utilities" as u;

header {

    .web-view {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        align-items: center;
        justify-items: center;
        padding: 10px 0;

        a {
            color: #737373;
            font-size: 18px;
            text-decoration: none;
        }

        .cont-1 {
            display: flex;
            gap: 50px;
            
        }

        .cont-2 {
            
            img {
                max-width: 265px;
            }

        }

        .cont-3 {
            display: flex;
            gap: 100px;
            align-items: center;
            justify-content: center;

            .button-etc {
                display: flex;
                gap: 30px;

                a {
                    display: block;
                    height: 30px;
                    width: 30px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    //background-color: red;

                    &.search {
                        background-image: url(../images/icons/search.svg);
                    }
                    &.user {
                        background-image: url(../images/icons/user.svg);
                    }
                    &.cart {
                        background-image: url(../images/icons/cart.svg);
                    }
                }
            }
        }

        @include u.breakpoint-max(medium) {
            display: none;
        }
    }
    .mobile-view {
        display: none;
        
        padding: 10px 20px;

        @include u.breakpoint-max(medium) {
            display: block;
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                max-width: 200px;
            }
            .menu-logo {
                width: 40px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .slide-nav {
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 115px;
            left: 0;
            right: 0;
            background-color: #ffffff;
            border-top: 1px solid #737373;
            box-shadow: #737373 0px 20px 20px;
            display: none;

            .menu-nav {
                padding: 20px;
            
                a {
                    display: block;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    font-size: 22px;
                    padding: 10px 20px;
                    color: #737373;

                    
                }
                .button-etc {

                    display: flex;
                    gap: 30px;
                    margin-top: 20px;
                    align-items: center;
                    justify-content: center;

                    a {
                        display: block;
                        height: 30px;
                        width: 30px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                                                
                        &.search {
                            background-image: url(../images/icons/search.svg);
                        }
                        &.user {
                            background-image: url(../images/icons/user.svg);
                        }
                        &.cart {
                            background-image: url(../images/icons/cart.svg);
                        }
                    }
                }
            }

        }
    }

}