/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.objectFitContain {
  -o-object-fit: contain;
     object-fit: contain;
}

.objectFitCover {
  -o-object-fit: cover;
     object-fit: cover;
}

header .web-view {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 10px 0;
}
header .web-view a {
  color: #737373;
  font-size: 18px;
  text-decoration: none;
}
header .web-view .cont-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
header .web-view .cont-2 img {
  max-width: 265px;
}
header .web-view .cont-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .web-view .cont-3 .button-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
header .web-view .cont-3 .button-etc a {
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .web-view .cont-3 .button-etc a.search {
  background-image: url(../images/icons/search.svg);
}
header .web-view .cont-3 .button-etc a.user {
  background-image: url(../images/icons/user.svg);
}
header .web-view .cont-3 .button-etc a.cart {
  background-image: url(../images/icons/cart.svg);
}
@media (max-width: 66.12375em) {
  header .web-view {
    display: none;
  }
}
header .mobile-view {
  display: none;
  padding: 10px 20px;
}
@media (max-width: 66.12375em) {
  header .mobile-view {
    display: block;
  }
}
header .mobile-view .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}
header .mobile-view .menu .logo {
  max-width: 200px;
}
header .mobile-view .menu .menu-logo {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
header .mobile-view .slide-nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 115px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-top: 1px solid #737373;
  -webkit-box-shadow: #737373 0px 20px 20px;
          box-shadow: #737373 0px 20px 20px;
  display: none;
}
header .mobile-view .slide-nav .menu-nav {
  padding: 20px;
}
header .mobile-view .slide-nav .menu-nav a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 20px;
  color: #737373;
}
header .mobile-view .slide-nav .menu-nav .button-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .mobile-view .slide-nav .menu-nav .button-etc a {
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
header .mobile-view .slide-nav .menu-nav .button-etc a.search {
  background-image: url(../images/icons/search.svg);
}
header .mobile-view .slide-nav .menu-nav .button-etc a.user {
  background-image: url(../images/icons/user.svg);
}
header .mobile-view .slide-nav .menu-nav .button-etc a.cart {
  background-image: url(../images/icons/cart.svg);
}

main section article:not(.hero) {
  margin-bottom: 126px;
}
main section .hero__inner__content {
  border-radius: 0 30%;
  z-index: 1;
  color: #6A6A6A;
  font-size: 50px;
  line-height: 61.12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5019607843);
  padding: 24px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  min-width: 650px;
}
@media (max-width: 32.499375em) {
  main section .hero__inner__content {
    font-size: 30px;
    min-width: unset;
    width: 90%;
  }
}
main section .explore__cont {
  z-index: 1;
  text-align: center;
  top: -20px;
}
main section .explore__cont p {
  color: #bfbfbf;
  font-size: 18px;
}
main section .explore__cont .line {
  height: 150px;
  border-right: 1px solid #6A6A6A;
  width: 1px;
  margin: 0 auto;
  margin-top: 20px;
}
main section .product .title {
  font-size: 30px;
  color: #6A6A6A;
  max-width: 1064px;
  margin: 0 auto;
  text-align: center;
  line-height: 48px;
  padding: 0 20px;
}
main section .product__cont {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main section .product__cont__category {
  width: 50%;
  height: 767px;
  padding: 80px 20px;
  background-position: center;
  background-position: center;
  background-repeat: cover;
  background-repeat: no-repeat;
}
main section .product__cont__category a {
  background: white;
  border: none;
  outline: none;
  padding: 20px;
  min-width: 341px;
  color: #6A6A6A;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 48.74875em) {
  main section .product__cont__category a {
    min-width: 300px;
  }
}
@media (max-width: 48.74875em) {
  main section .product__cont__category {
    height: 400px;
    padding: 30px 20px;
  }
}
@media (max-width: 32.499375em) {
  main section .product__cont__category {
    width: 100%;
    height: 767px;
  }
}
@media (max-width: 32.499375em) {
  main section .product__cont {
    gap: 20px;
  }
}
main section .bestSeller .title {
  text-align: center;
  font-size: 36px;
  color: #6A6A6A;
}
main section .bestSeller__cont {
  margin-top: 100px;
  gap: 26px;
}
main section .bestSeller__cont__item {
  width: 31%;
}
main section .bestSeller__cont__item img {
  width: 100%;
}
main section .bestSeller__cont__item .desc {
  margin-top: 30px;
  font-size: 18px;
}
main section .bestSeller__cont__item .desc .name {
  font-weight: bold;
}
main section .bestSeller__cont__item .desc .price {
  margin-top: 25px;
}
main section .bestSeller__cont__item .desc .other-text {
  margin-top: 20px;
  color: #C3C3C3;
  font-style: italic;
}
@media (max-width: 48.74875em) {
  main section .bestSeller__cont__item {
    width: 47%;
    text-align: center;
  }
}
@media (max-width: 32.499375em) {
  main section .bestSeller__cont__item {
    width: 100%;
  }
}
main section .testimonials li i {
  color: #828281;
  height: 20px;
  width: 20px;
}
main section .testimonials .text-muted {
  margin: 0 auto;
  color: #6c757d !important;
  margin-top: 30px;
  font-size: 36px;
  max-width: 1000px;
  text-align: center;
}
main section .testimonials .read-testi {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-top: 35px;
  color: #737373;
}
main section .services {
  background-color: #F1F0EC;
  padding: 115px 0;
}
main section .services .title {
  font-size: 30px;
  color: #6A6A6A;
  max-width: 1064px;
  margin: 0 auto;
  text-align: center;
  line-height: 48px;
}
main section .services__cont {
  margin-top: 75px;
  text-align: center;
}
main section .services__cont__item {
  padding: 0 20px;
  width: 25%;
}
main section .services__cont__item picture {
  width: 100%;
}
main section .services__cont__item picture img {
  width: 100px;
  height: 100px;
}
main section .services__cont__item .name {
  margin-top: 30px;
  font-size: 20px;
  color: #5e5e5d;
  font-weight: bold;
}
main section .services__cont__item .desc {
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #828281;
}
@media (max-width: 48.74875em) {
  main section .services__cont__item {
    width: 47%;
  }
}
@media (max-width: 32.499375em) {
  main section .services__cont__item {
    width: 100%;
  }
}
@media (max-width: 48.74875em) {
  main section .services__cont {
    gap: 26px;
  }
}
main section .gallery h2 a {
  text-align: center;
  font-size: 18px;
  color: FOLLOW US BLANCHEDALMOND;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
main section .gallery h2 a span {
  display: block;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  background-image: url(../images/icons/ig.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section .gallery__cont {
  margin-top: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: -webkit-grab;
  cursor: grab;
}
main section .gallery__cont::-webkit-scrollbar {
  display: none;
}
main section .gallery__cont .slide img {
  inline-size: 100%;
  aspect-ratio: 4/4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2rem;
}
@media (max-width: 66.12375em) {
  main section .gallery__cont .slide img {
    aspect-ratio: 3/3;
  }
}
@media (max-width: 48.74875em) {
  main section .gallery__cont .slide img {
    aspect-ratio: 2/2;
  }
}
@media (max-width: 32.499375em) {
  main section .gallery__cont .slide img {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 66.12375em) {
  main section .gallery__cont {
    grid-auto-columns: 33.33%;
  }
}
@media (max-width: 48.74875em) {
  main section .gallery__cont {
    grid-auto-columns: 50%;
  }
}
@media (max-width: 32.499375em) {
  main section .gallery__cont {
    grid-auto-columns: 100%;
  }
}

footer {
  color: #777777;
}
@media (min-width: 66.125em) {
  footer .container {
    max-width: 90%;
  }
}
@media (max-width: 48.74875em) {
  footer .container {
    text-align: center;
  }
}
footer h5 {
  font-weight: bold;
  font-size: 18px;
}
footer p {
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 37.5em) {
  footer p {
    max-width: 430px;
  }
}
footer ul li a {
  text-decoration: none;
  color: #777777;
  margin-bottom: 10px;
  display: block;
}
footer .form-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .form-outline input {
  border: 1px solid #777777;
  outline: none;
  color: #777777;
  font-size: 18px;
  font-weight: bold;
  width: 70%;
  border-radius: 0;
  height: 50px;
}
footer .form-outline button {
  width: 30%;
  background-color: #d0d0d0;
  color: #777777;
  height: 50px;
  border-radius: 0;
}
footer .payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer .payments a {
  color: #777777;
  text-decoration: none;
  font-size: 16px;
}
footer .payments .payments-icon {
  max-width: 150px;
}